{% extends 'base.html.twig' %}

{% block title %} {{ episode.title }} {% endblock %}

{% block body %}
    <h1>
        {{ program.title}}
    </h1>
    <h2>{{ episode.title }} : {{ season.description }} épisode {{ episode.number }}</h2>
    <p>
        {{ episode.synopsis }}
    </p>
{% endblock %}