{% extends 'base.html.twig' %}

{% block title %}Program !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="media">
        <img class="align-self-start mr-3" src="{{name.poster}}" alt="{{ name.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ name.title }}</h1>
            <p>{{ name.summary }}</p>
            <p>Catégorie : {{ name.category.name }}</p>
        </div>
        {% for season in seasons %}
            <div>
                Saison :{{ season.number }}
                <a href="{{ path("app_season_show", {programId: name.id, id: season.id }) }}">Voir la fiche</a>
            </div>
        {% endfor %}
    </div>
    <a href="{{ path('app_program') }}">
        Retour à la liste des programmes
    </a>
</div>
{% endblock %}
